Flask==3.0.3
python-dotenv==1.0.1

# Google APIs
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0

# HTTP / dependências do Google
httplib2==0.22.0
uritemplate==4.1.1

# Produção (servidor)
gunicorn==22.0.0